ml_project
online_inference
.idea
.pytest_cache
airflow_ml_dags/__pycache__/
airflow_ml_dags/mlruns
airflow_ml_dags/data
airflow_ml_dags/.idea
airflow_ml_dags/dags/__pycache__/
airflow_ml_dags/tests/__pycache__/